body{
	margin: 0;
	background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
	overflow-y: hidden;
}

.night{
	height: 90vh;
	width: 90vw;
	margin: 3rem auto;
	background: url('./assets/Img_1.png');
	background-size: cover;
	position: relative;
	box-shadow: 1px 2px 60px rgba(0, 0, 0, 4);
	overflow-x: hidden;
}

h1{
	font-family:"castellar";
	top: 20%;
	left: 15%;
	position: relative;
	color: white;
	font-size: 300%;
}


a{
	top: 20%;
	left: 15%;
	position: relative;
	color: #30cfd0;
	font-size: 150%;
}

.surface{
	height: 140px;
	width: 500%;
	background: url('./assets/Img_02.png');
	display: block;
	position: absolute;
	bottom: 0%;
	left: 0%;
	background-repeat: repeat-x;
	animation: moveRight 6s linear infinite;
}

.car{
	position: absolute;
	bottom: 5.9%;
	left: 10%;
	animation: suspension 1s linear infinite;
}

/* Animation */
@keyframes moveRight{
	100%{transform: translateX(-2950px)}
}

@keyframes suspension{
	100%{
		transform:translateY(-1px)
	}
	50%{
		transform: translateY(2px);
	}
	0%{
		transform: translateY(-1px);
	}
}